%h1 Questions
- @questions.each do |question|
  .question
    %h2
      = question.title
    .actions
      - if can? :destroy, question
        = link_to 'Delete', question, method: :delete, class: 'button button_red'
      = link_to 'More', question, class: 'button button_blue'
= subscribe_to '/questions'
