# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

# Ignore database config
config/database.yml

# Ignore RubyMine config files
.idea/

# Ignore uploads
/public/uploads
