- content_for :heading do
  Hello #{@authorization.user.email}!
- content_for :message do
  %p Someone has requested a link to authorization to your account.
  = link_to 'Confirm authorization', confirm_authorization_url(@authorization, token: @authorization.confirmation_token)
  %p If you didn't request this, please ignore this email.
