# Add your application configuration for example:

FACEBOOK_APP_ID: "459258617485952"
FACEBOOK_APP_SECRET: "3c6aaf183ee1c8b3e9d5c4ac4b917018"
TWITTER_CONSUMER_KEY: "459258617485952"
TWITTER_CONSUMER_SECRET: "3c6aaf183ee1c8b3e9d5c4ac4b917018"

production:
  HOST: "server.example"
  DB_NAME: "bettsol_production"
  DB_USERNAME: "user"
  DB_PASSWORD: "password"
  SECRET_KEY_BASE: "8e6d5f03bf70097433bf14ba0414172ec50cc4f6880b7b8300e41dfb3696f492e9f5b49d5a7875308294bbbb4561d1b07e83bd21ae1aeb2a2b3fb61a65b946fa"
  FACEBOOK_APP_ID: "459258617485952"
  FACEBOOK_APP_SECRET: "3c6aaf183ee1c8b3e9d5c4ac4b917018"
  SMTP_ADDRESS: "smtp.server.example"
  SMTP_PORT: "25"
  SMTP_DOMAIN: "server.example"
  SMTP_USER_NAME: "user@server.example"
  SMTP_PASSWORD: "password"
