.answer
  display: block
  margin: 20px 0
  padding: 10px
  font: normal 16px Arial, sans-serif
  border: 1px solid #749199
  color: #749199
  transition: all .2s linear

  &_best
    border: 1px solid #66cc33
