.flash
  margin: 10px 0
  padding: 20px 10px
  border-left: 4px solid #666666
  background-color: #cccccc
  color: #666666

  &_notice
    border-color: #339900
    background-color: #ccff99
    color: #339900

  &_error
    border-color: #ff3333
    background-color: #ffcccc
    color: #ff3333
