.form
  margin: 10px

  &__field
    margin-bottom: 10px

  &__actions
    text-align: right
    margin: 10px 0

  &__input
    font: normal 14px Arial, sans-serif
    background-color: white
    border: 1px solid #cccccc
    outline: none
    width: 100%
    padding: 6px
    transition: all .5s linear
    box-sizing: border-box

    &:focus
      outline: none
      border-color: #336699
